<a href="https://colab.research.google.com/github/DRA0R/Exploratory_data_analysis/blob/main/subtablas_del_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Chicago_data = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/Traffic_Crashes1.csv'
import pandas as pd
Chicago_df=pd.read_csv(Chicago_data)
Chicago_df['CRASH_DATE'] = Chicago_df['CRASH_DATE'].apply(lambda x: pd.to_datetime(x,errors='coerce', utc=True))
Chicago_df.groupby(['LIGHTING_CONDITION','REPORT_TYPE','CRASH_HOUR']).agg({'BEAT_OF_OCCURRENCE':'sum',})

                                                          BEAT_OF_OCCURRENCE
LIGHTING_CONDITION REPORT_TYPE                CRASH_HOUR
DARKNESS           AMENDED                    20                      1614.0
                   NOT ON SCENE (DESK REPORT) 0                      64739.0
                                              1                      60086.0
                                              2                      36251.0
                                              3                      39172.0
...                                                                      ...
UNKNOWN            ON SCENE                   19                      4735.0
                                              20                      8113.0
                                              21                      6122.0
                                              22                      9699.0
                                              23                      3176.0

[291 rows x 1 columns]

In [ ]:
pd.pivot_table(Chicago_df, index=['LIGHTING_CONDITION','REPORT_TYPE'])

                                                   BEAT_OF_OCCURRENCE  ...     Unnamed: 0
LIGHTING_CONDITION     REPORT_TYPE                                     ...
DARKNESS               AMENDED                            1614.000000  ...  322381.000000
                       NOT ON SCENE (DESK REPORT)         1183.079090  ...  230103.153846
                       ON SCENE                           1166.488235  ...  214160.031373
DARKNESS, LIGHTED ROAD AMENDED                             922.666667  ...  315089.333333
                       NOT ON SCENE (DESK REPORT)         1298.297699  ...  233109.353378
                       ON SCENE                           1223.077152  ...  219285.096358
DAWN                   NOT ON SCENE (DESK REPORT)         1137.302789  ...  230564.916335
                       ON SCENE                           1183.760181  ...  206568.773756
DAYLIGHT               AMENDED                            1261.692308  ...  204369.538462
                       NOT ON SCENE (DESK REPORT)         1263.180461  ...  229400.869647
                       ON SCENE                           1228.757692  ...  215604.418935
DUSK                   AMENDED                             321.500000  ...  238542.500000
                       NOT ON SCENE (DESK REPORT)         1252.676892  ...  224259.257669
                       ON SCENE                           1223.255319  ...  236552.328267
UNKNOWN                NOT ON SCENE (DESK REPORT)         1410.566406  ...  227247.088427
                       ON SCENE                           1258.668394  ...  199036.533679

[16 rows x 18 columns]

In [ ]:
Chicago_df.filter(['LIGHTING_CONDITION','REPORT_TYPE'])

      LIGHTING_CONDITION                 REPORT_TYPE
0               DAYLIGHT  NOT ON SCENE (DESK REPORT)
1               DAYLIGHT                    ON SCENE
2               DAYLIGHT                    ON SCENE
3                UNKNOWN                    ON SCENE
4               DAYLIGHT  NOT ON SCENE (DESK REPORT)
...                  ...                         ...
27956           DAYLIGHT                    ON SCENE
27957           DAYLIGHT  NOT ON SCENE (DESK REPORT)
27958           DAYLIGHT                    ON SCENE
27959           DAYLIGHT  NOT ON SCENE (DESK REPORT)
27960            UNKNOWN  NOT ON SCENE (DESK REPORT)

[27961 rows x 2 columns]

In [ ]:
pd.crosstab(Chicago_df['LIGHTING_CONDITION'],Chicago_df['BEAT_OF_OCCURRENCE'])

BEAT_OF_OCCURRENCE      111.0   112.0   113.0   ...  2533.0  2534.0  2535.0
LIGHTING_CONDITION                              ...
DARKNESS                     2       3       3  ...      12       1       3
DARKNESS, LIGHTED ROAD      32      20      16  ...      31      22      27
DAWN                         2       3       2  ...       2       2       1
DAYLIGHT                   102      71      59  ...     119      75      52
DUSK                         6       3       0  ...       4       6       1
UNKNOWN                      1       1       2  ...       2       8       5

[6 rows x 274 columns]

In [ ]:
pd.crosstab(Chicago_df['LIGHTING_CONDITION'],Chicago_df['CRASH_HOUR'])

CRASH_HOUR               0    1    2    3    4   ...   19   20   21   22   23
LIGHTING_CONDITION                               ...
DARKNESS                 82   76   63   62   60  ...  161  166  154  126  108
DARKNESS, LIGHTED ROAD  449  358  343  243  184  ...  528  607  656  648  547
DAWN                      5    2    3    2   16  ...   33   13    2    4    2
DAYLIGHT                 12   19   13    8   17  ...  315   70   19   14    9
DUSK                      5    4    3    6    7  ...  147   75   25   15    8
UNKNOWN                  40   29   23   20   15  ...   41   42   41   32   24

[6 rows x 24 columns]